
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');




*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}
body{
background-color: rgb(248, 240, 240);
color: rgb(0, 0, 0);

}

.border{
border: 2px solid red;

}
.left{
    width: 25vw;
    padding: 10px;
}

.right{
width: 75vw;

}

.home{
   
}
.home ul li{
    display: flex;
width: 14px;
list-style: none;
gap: 15px;
padding-top: 14px;
font-weight:bold ;
}

.heading{
        display: flex;
width: 100%;
gap: 15px;
padding-top: 14px;
padding: 23px 14px;
font-weight:bold ;
align-items: center;
font-size: 10px;

}

.heading img{
 width: 26px;   
}

.library{
    min-height: 78.01vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 9px;
    bottom: 0;
    position: absolute;
    padding: 10px 0;
}

.footer a{
    color: grey;
}

.rght{
    margin: 16px 0;
    position: relative;
    
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    height: 70px;
}

.header > *{
    padding: 10px;
}

.spotifyPlaylists{
    padding: 16px;
    font-size: 12px;
}

.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: scroll;
    max-height: 70vh;
}


.card{
width: 150px;
position: relative;
padding: 10px;
border-radius: 5px;
background-color: #252525;


.card > *{

    padding-top: 10px;
}

}

.card img{
    width:100%;
    object-fit: contain;
    border-radius: 10px;
}


.play{
    position: absolute;
    top: 110px;
    right: 11px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 1s ease-out;
    
}


.buttons *{
    margin: 0 12px;
    
}

.signupbtn{
    background-color:  rgb(34, 34, 34);
    color: rgb(98, 92, 92);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover{
    font-size: 1.01rem;
    color: white;
}


.loginbtn{
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}
.loginbtn:hover{
   
    font-weight: bold;
    font-size: 17px;
   
   
   
}

.nav{
    margin-top: 10px;
}


.songList ul{
    padding: 0 12px;
}

.songList ul li{
    list-style: none;
}

.spotifyplaylists{
    position: relative;
}

.playbar{
    position: absolute;
    bottom:0;
    background-color: rgb(32, 75, 43);
    width: 70.3vw;
    padding: 12px;
   
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}